@model IEnumerable<_todo.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Список заметок</h1>
@using (Html.BeginForm("Index", "Notes", FormMethod.Get))
{
    <input class="form-control mb-2" placeholder="Search" name="value" />
    <input type="submit" value="Go" class="btn btn-outline-info mb-5" />
}

<p>
    <a asp-action="Create">Добавить заметку</a>
</p>

<ul class="list-unstyled todo-items">
    @foreach (var el in Model)
    {
        <li class="mb-4" data-toggle="tooltip" data-placement="top" title="Выполнить до: @el.DeadlineTime">
            <div class="todo-card card w-75 text-white @el.IsCompleted ? bg-dark : bg-success">
                <div class="card-body">
                    <h5 class="card-title">@el.Title</h5>
                    <p class="card-text">@el.Body</p>
                    <p class="card-text">@el.Body</p>
                    <button class="complete-btn btn btn-success float-right">Finish</button>
                    <a asp-action="Edit" asp-route-id="@el.Id" class="float-right btn btn-primary mr-2">Redact</a>
                    @*<a asp-action="Delete" asp-route-id="@el.Id">Удалить</a>*@
                </div>
            </div>
        </li>
    }
</ul>

@section Scripts
{
    <script>
        onCompleteHandler = (e) => {
            if (e.target.classList.contains('complete-btn')) {
                var parent = e.target.closest(".todo-card");
                parent.classList.remove("bg-dark");
                parent.classList.add("bg-success");
            }
        }
        var todoItemsUl = document.querySelector(".todo-items").addEventListener("click", onCompleteHandler);

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
}


